body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Goldplay SemiBold';
  src: local('Goldplay SemiBold'), url(./assets/fonts/goldplay/GoldplayBlack.otf) format('truetype');
}
@font-face {
  font-family: 'Goldplay Bold';
  src: local('Goldplay Bold'), url(./assets/fonts/goldplay/GoldplayBold.otf) format('truetype');
}
@font-face {
  font-family: 'Goldplay Black';
  src: local('Goldplay Black'), url(./assets/fonts/goldplay/GoldplaySemiBold.otf) format('truetype');
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace,'Barlow Semi Condensed';
}
p
{
  margin: 0;
}