body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'BarlowSemiCondensed-Light';
  src: local('BarlowSemiCondensed-Light'), url(./assets/fonts/barlow-semi-condensed/BarlowSemiCondensed-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'BarlowSemiCondensed-ExtraLight';
  src: local('BarlowSemiCondensed-ExtraLight'), url(./assets/fonts/barlow-semi-condensed/BarlowSemiCondensed-ExtraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'BarlowSemiCondensed-Bold';
  src: local('BarlowSemiCondensed-Bold'), url(./assets/fonts/barlow-semi-condensed/BarlowSemiCondensed-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'BarlowSemiCondensed-Black';
  src: local('BarlowSemiCondensed-Black'), url(./assets/fonts/barlow-semi-condensed/BarlowSemiCondensed-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Sen-Regular';
  src: local('Sen-Regular'), url(./assets/fonts/sen.regular.ttf) format('truetype');
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace,'Barlow Semi Condensed';
}
p
{
  font-family: 'Sen-Regular';
  margin: 0;
}